body {
    background-color: bisque;
    font-family: 'Arial', sans-serif;
}

#wrapper {
    width: 600px;
    margin: auto;
    padding-top: 50px;
}

#left {
    width: 30%;
    float: left;
    /* background-color: rgb(252, 255, 240); */
    min-height: 500px;
}

#right {
    width: 70%;
    float: right;
    min-height: 500px;
}

#boxTitle {
    border: solid 1px brown;
    border-bottom: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #f8f9fa;
}

#boxContent {
    padding: 10px;
    text-align: center;
    height: 500px;
    overflow-y: auto;
    background-color: #9eadbb;
    color: white;
    border: solid 1px brown;
}

#sayHi {
    text-align: right;
    padding: 6px 15px;
    border: solid 1px brown;
    border-left: none;
    background-color: #f8f9fa;
}

#listMessages {
    height: 500px;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid brown;
    border-top: none;
    border-left: none;
    /* position: relative; */
}

.ms {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.ms span {
    font-weight: bold;
    margin-right: 5px;
}

.ms.mine {
    background-color: #9eadbb;
    color: white;
    margin-left: auto;
    transition: all 0.75s;
}

.ms.other-user {
    background-color: #ddd;
    color: #333;
    margin-right: auto;
}

#thongbao {
    display: flex;
}

#txtMessage {
    width: 80%;
    background-color: #f9f5ef;
    border: solid 1px black;
    padding: 10px;
    margin-top: 10px;
    height: 40px;
}

#sendarea {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#sendarea .form-group {
    flex: 1;
    margin-right: 10px;
}

#txtMessage,
#txtRoom , #txtMessage2{
    width: 100%;
    padding: 8px;
}

#btnSendMessage,
#btnTaoRoom, #btnChat {
    padding: 8px 15px;
}

#clicktoroom {
    margin: 20px 30px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

#clicktoroom:hover {
    color: red;
}

#left-room {
    width: 40%;
    float: left;
    margin-top: 20px;
}

#title {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    border: solid 1px black;
}

#right-room {
    margin-top: 20px;
    width: 60%;
    float: right;
}

#roomHientai {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: right;
    border: solid 1px black;
}

#dsroom {
    background-color: #f0f0f0;
    height: 350px;
    border: solid 1px black;
    padding: 10px;
}

#roomtext {
    height: 500px;
    overflow-y: auto;
    background-color: #f0f0f0;
    height: 350px;
    border: solid 1px black;
    border-left: none;
    padding: 10px;
}

#txtMessage2 {
    background-color: #f9f5ef;
    border: solid 1px black;
    padding: 10px;
    margin-top: 10px;
    height: 40px;
}

#btnChat{
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    height: 40px;
}